
table.grid {
    width: 95%;
    margin-left:auto;
    margin-right:auto;
    border: 1px solid black;
    border-collapse: collapse;
}

table.grid th {
    text-align: left;
    border: 1px solid black;
    border-collapse: collapse;
    background-color: black;
    color: white;
    padding: 0.3em;
}

table.grid tr:nth-child(even) {
    background-color: #f2f2f2;
}

table.grid tr.yes {
}

table.grid tr.no {
}

table.grid tr.maybe {
}

table.grid td {
    border: 1px solid black;
    border-collapse: collapse;
    padding: 0.3em;
}

table.grid td.yes {
    background-color: green;
}

table.grid td.no {
    background-color: red;
}

table.details {
    border: 1px solid black;
    border-collapse: collapse;
}

table.details th {
    text-align: left;
    background-color: black;
    color: white;
    padding: 0.3em;
}

table.details td {
    border: 1px solid black;
    border-collapse: collapse;
    padding: 0.3em;
}

.pagination {
    text-align: center;
}

.log {
    width: 95%;
    margin-left:auto;
    margin-right:auto;
    overflow: auto;
}
