{% load staticfiles %}
{% load humanize %}

<link rel="stylesheet" type="text/css" href="{% static 'builds/style.css' %}" />

<h1>Details for job id {{ job.id }}</h1>

<table class="details">
<tr><th>Id</th><td>{{ job.id }}</td></tr>
<tr><th>Source package</th><td>{{ job.srcpkg }}</td></tr>
<tr><th>Status</th><td>{{ job.status }}</td></tr>
<tr><th>Log</th><td>{{ job.log }}</td></tr>
<tr><th>VM log</th><td>{{ job.buildlog }}</td></tr>
<tr><th>Build</th><td>{{ job.built|yesno:"succeeded,failed," }}</td></tr>
<tr><th>Verify</th><td>{{ job.valid|yesno:"succeeded,failed," }}</td></tr>
<tr><th>Start time</th><td>{{ job.start_timestamp|date:"c" }} ({{ job.start_timestamp|naturaltime }})</td></tr>
<tr><th>End time</th><td>{{ job.end_timestamp|date:"c" }} ({{ job.end_timestamp|naturaltime }})</td></tr>
<tr><th>Duration</th><td>{{ job.duration }} ({{ job.start_timestamp|timesince:job.end_timestamp }})</td></tr>
</table>

<br/>

<form action="/builds/action/{{ job.id }}" method="post">
 {% csrf_token %}
 <input type="submit" value="retry" name="retry" {{job.retry_disable}}/>
 <input type="submit" value="cancel" name="cancel" {{job.cancel_disable}}/>
</form>
